a {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  .flex-1{
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 100px;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 20px -14px;
    cursor: pointer;
  }
  .button5 {
    background-color: transparent;
    color: black;
    border: 1px solid #555555;
  }

  .link span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.about-flex-1{
    display: flex;
    justify-content: center;
    padding-right: 100px;
    padding-top: 180px;
}
a { color: inherit !important; 
    text-decoration: none !important;
}

.flex-2{
    display: flex;
    justify-content: space-between;
}

.flex-3{
    display: flex;
}
.text-group-1{
    font-family: sans-serif;
    color: white;
    font-weight: 100;
}

.group-flexx{
    padding-top: 90px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.xanim-orta-flex{
    display: flex;
}

.btn-top-1{
    padding-top: 30px;
}
.group-background{
    background-image: url(../img/Group-1467.jpeg);
    background-position: center center;
    background-size: cover;
    height: 270px;
}
.group-background-1{
    padding-top: 0px;
}

.button-grp {
    border-radius: 100px;
    border: none;
    color: none;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button5-grp {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }



  .carousel-indicators{
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 2 !important;
    display: flex !important;
    justify-content: center !important;
    padding: 0 !important;
    margin-right: 15% !important;
    margin-bottom: -5rem !important;
    margin-left: 15% !important;
    list-style: none !important;
  }

  .carousel-indicators [data-bs-target] {
    box-sizing: content-box !important;
    flex: 0 1 auto !important;
    width: 30px !important;
    height: 3px !important;
    padding: 0 !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    text-indent: -999px !important;
    cursor: pointer !important;
    background-color: #EF6536 !important;
    background-clip: padding-box !important;
    border: 0 !important;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    opacity: .5 !important;
    transition: opacity .6s ease !important;
    border-radius: 60px !;
}


.card-flexx-5{
    display: flex;
    justify-content: space-evenly;
}

.border-cartlar{
    border-radius: 20px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown .dropbtn {
    font-size: 16px;  
    font-weight: 100;
    border: none;
    outline: none;
    color: black;
    padding: 0px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  


  .dropdown {
    float: left;
    overflow: hidden;
  }


  .btn-primary{
    color: #fff !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }

  .start-101 {
    left: 75%;
    margin-top: 20%;
}

.xanim-flex{
    display: flex;
}

.flex-22{
    display: flex;
}